<ion-view view-title="Perfil" hide-back-button="true">
  <!--
    #IMPLEMENTATION-DETAIL;
    all view content is wrapped in a form in order to be able to leverage
    angular 'form' directive in all the view.
    #TIP: The form must have a "name" property set for using angular validation.
  -->
  <form name="accountForm">

  <!-- main content -->
  <ion-content>

    <div class=" text-center ui-gradient-ondaDura padding">
        <img class="avatar-account" ng-src="{{user.avatar}}">
    </div>

    <!-- form fields -->
    <!--
      #IMPLEMENTATION-DETAIL:
      ng-readonly is set on each field and bound to $scope.readonly
    -->
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="accountUser.email" name="email" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Nome</span>
      <input type="text" ng-model="accountUser.name" name="name" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Bairro</span>
      <input type="text" ng-model="accountUser.address" name="address" ng-readonly="readonly" required>
    </label>
    <label class="item item-select" id="register-select1">
      <span class="input-label" aria-label="Implantação" id="_label-14">Implantação</span>
      <select name="implantation" ng-model="accountUser.implantation" ng-readonly="readonly" required>
        <option value="1">Joinville</option>
        <option value="2">Jaraguá do Sul</option>
        <option value="3">Blumenau</option>
        <option value="4">Itajai</option>
      </select>
    </label>
    <label class="item item-input">
      <span class="input-label">Nascimento</span>
      <input type="text" ng-model="accountUser.birth" name="birth" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Watsapp</span>
      <input type="text" ng-model="accountUser.watsapp" name="watsapp" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Facebook</span>
      <input type="text" ng-model="accountUser.facebook" name="facebook" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Twitter</span>
      <input type="text" ng-model="accountUser.twitter" name="twitter" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Instagran</span>
      <input type="text" ng-model="accountUser.instagran" name="instagran" ng-readonly="readonly" required>
    </label>
    <!-- this leverages angular form directive to show up in case of errors-->
    <div class="item assertive item-text-wrap text-center" ng-if="accountForm.$invalid">
      Não conseguimos encontrar suas informações
    </div>

  </ion-content>

  <!-- footer bar -->
    <!--
      #IMPLEMENTATION-DETAIL:
      we switch footer bar when editing form data
    -->
  <ion-footer-bar class="bar bar-positive" ng-click="startEdit()" ng-if="readonly">
    <h2 class="title">Editar informações</h2>
    <button ng-show="!readonly" class="button button-assertive" ng-click="saveEdit()" ng-disabled="accountForm.$invalid">Salvar anterações</button>
  </ion-footer-bar>

  <ion-footer-bar class="bar bar-positive" ng-if="!readonly">
    <button ng-if="!readonly" class="button button-positive" ng-click="cancelEdit()">Cancelar edição</button>
    <h2 class="title"> </h2>
    <!--
      #IMPLEMENTATION-DETAIL:
      ng-disable disable the button in case of invalid form, leveraging form validation
    -->
    <button ng-show="!readonly" class="button button-energized" ng-click="saveEdit()" ng-disabled="accountForm.$invalid">Salvar alterações</button>
  </ion-footer-bar>

  </form>

</ion-view>
