<ion-view view-title="Onda Dura" hide-back-button="true">
  <div class="botao-fixo-inferior">
    <span class="button button-clear ion-plus-circled white-color botao-criar-post" ng-click="showPopup()"></span>
  </div>
  <ion-content>
    <!-- here we use a ion-refresher -->
    <!--
      #SIMPLIFIED-IMPLEMENTATION:
      in our example refresh will do nothing as the data is fixed.
      The ui interaction works anyway!
      #IMPLEMENTATION-DETAIL:
      ion-refreshed is styled with our custom classes in "scss/themed.scss".
    -->
    <ion-refresher
      pulling-text="CARREGANDO"
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- this message is shown in case of no feeds present -->
    <div class="text-center" style="padding-top:40px;" ng-if="!feeds.length">
      <h1 class="sans-pro-light">Sem atualizações</h1>
      <h4 class="sans-pro-light">Arraste para baixo para atualizar</h4>
      <h2 class="ion-ios-arrow-thin-down"></h2>
    </div>

    <!-- cycling in feeds -->
    <!--
        #SIMPLIFIED-IMPLEMENTATION:
        In this case we are using ng-repeat which is suitable
        for showing a small number of items in a list.
        In case of very long lists we recommend using "collection-repeat"
        directive that ships with ionic.
        Be aware that in that case your elements will have to be all the same height or you will have to provide a method to calculate each item height (and/or weight).
        see more here: http://ionicframework.com/docs/api/directive/collectionRepeat/
    -->
    <div ng-repeat="feed in feeds">

      <div class="item item-avatar item-button-right">
        <img src="sampledata/images/avatar.jpg">
        <h2>{{feed.title}}</h2>
        <p>{{feed.date}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="{{feed.image}}">
      </div>

      <div class="item item-text-wrap">
        <p>
          {{feed.description}}
        </p>
      </div>
      <div class="item">
        <p>
          <a href="#" class="subdued" ng-click="modalLikes.show()">{{feed.likes}} Curtidas</a>
          <a href="#" class="subdued" ng-click="comment(feed);">{{feed.comments}} Comentarios</a>
        </p>
      </div>
      <div class="card" ng-class="{invisivel : !feed.visivel}">
        <a class="item item-avatar" href="#" ng-repeat="comment in comments">
          <img src="{{comment.image}}">
          <h2>{{comment.name}}</h2>
          <p>{{comment.description}}</p>
        </a>
        <form name="form_comments">
          <label class="item item-input">
            <input type="text" placeholder="Digite aqui seu comentario" name="inputComment" ng-model="inputComment" required/>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="button" ng-click="saveComment(inputComment); inputComment = '';">Enviar</button>
          </label>
        </form>
      </div>
      <!-- comment and like buttons do nothing in this example -->
      <div class="item tabs tabs-ondaDura tabs-icon-left">
        <a class="tab-item" ng-class="{amarelo : feed.youLike}" href="#" ng-click="like(feed);">
          <i class="icon ion-thumbsup"></i>
          Curtir
        </a>
        <a class="tab-item" href="#" ng-click="comment(feed);">
          <i class="icon ion-chatbox"></i>
          Comentar
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
