<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar bar-ondaDura bar-ondaDura-borderbottom">
  <h2 class="title">Recuperar senha</h2>
  </ion-header-bar>

  <ion-content class="has-header has-footer padding full-height text-center">
    <div style="padding-top:50px;">
      <h3 class="sans-pro-light">Informe sua nova senha</h3>
      <form name="form_reset_password">
        <div class="erros" ng-if="(form_reset_password.$error || !passwordValid) && form_reset_password.$submitted">
          <h4 class="vermelho" ng-if="form_reset_password.$error.required">Existem campos obrigatórios que não foram preenchidos</h4>
          <h4 class="vermelho" ng-if="!passwordValid">O campo senha e confirmação de senha não estão iguais</h4>
        </div>
        <label class="item item-input">
          <input type="password" name="password" ng-model="password" placeholder="Senha" required />
        </label>
        <label class="item item-input">
          <input type="password" name="repeatPassword" ng-model="repeatPassword" placeholder="Repita sua senha" required />
        </label>

        <button class="button button-block button-energized" type="submit" ng-click="resetPassword(form_reset_password);">Ssalva a nova senha</button>
      </form>
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-ondaDura bar-ondaDura-bordertop pointer" ui-sref="app.login">
    <h1 class="title sans-pro-light">Voltar para o login</h1>
  </ion-footer-bar>

</ion-view>
