<ion-view view-title="Roteiros" hide-back-button="true" ng-init="pagConter = true;">
  <ion-content scroll="false">
      <ion-slide-box show-pager="false"   on-slide-changed="yourfunction()" does-continue="false" auto-play="false" slide-interval="100" >

       <ion-slide>
      <ion-content scroll="true">
        your first slide
      </ion-content>
       </ion-slide>

      <ion-slide>
       <ion-content scroll="true">
        your second slide
      </ion-content>
       </ion-slide>

      <ion-slide>
      <ion-content scroll="true">
        your third slide
      </ion-content>
      </ion-slide>

   </ion-slide-box>
  </ion-content>
</ion-view>
