<ion-view title="Create post" hide-nav-bar="true" id="page19" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-alert-circled"> teste</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="createPost-container17">
      <a ui-sref="menu" id="createPost-button47" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
      <a ui-sref="notifications" id="createPost-button48" style="color:#FFFFFF;" class="button button-dark  button-clear icon-right ion-android-notifications right"></a>
      <a ui-sref="home" id="createPost-button49" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura</a>
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <form id="createPost-form23" class="list">
      <label class="item item-input" id="createPost-input37" name="title">
        <span class="input-label">Título</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createPost-textarea4" name="description">
        <span class="input-label">Drescrição</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="createPost-input38" name="linkVideo">
        <span class="input-label">Vídeo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createPost-input39" name="music">
        <span class="input-label">Musica</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createPost-input40">
        <span class="input-label">Versículo</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="createPost-button50" class="button button-dark  button-block icon ion-images"> Imagens</button>
    <div id="createPost-button-bar8" class="button-bar">
      <a ui-sref="home" id="createPost-button54" class="button button-dark  button-block">Cancelar</a>
      <a ui-sref="home" id="createPost-button56" class="button button-dark  button-block">Postar</a>
    </div>
  </ion-content>
</ion-view>