<ion-view title="Events" hide-nav-bar="true" id="page11" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-alert-circled"> teste</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="events-form12" class="list">
      <div id="events-container10">
        <a ui-sref="menu" id="events-button29" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
        <a ui-sref="home" id="events-button33" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura</a>
        <a ui-sref="notifications" id="events-button34" style="color:#FFFFFF;" class="button button-positive  button-clear icon-right ion-android-notifications right"></a>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
      </div>
    </form>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="event" id="events-card23">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" delegate-handle="slider6" id="events-slider6" style="width:100%;height:200px;">
        <ion-slide-page id="events-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="events-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="events-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="events-list-item-container8">
        <div id="events-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Descrição do evento</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="event" id="events-card210">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider12" delegate-handle="slider12" id="events-slider12" style="width:100%;height:200px;">
        <ion-slide-page id="events-slide234" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="events-slide235" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="events-slide236" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="events-list-item-container14">
        <div id="events-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Descrição do evento</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="home" id="events-card29">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider11" delegate-handle="slider11" id="events-slider11" style="width:100%;height:200px;">
        <ion-slide-page id="events-slide231" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="events-slide232" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="events-slide233" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="events-list-item-container12">
        <div id="events-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Descrição do evento</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>