<ion-view title="Forgot password" hide-nav-bar="true" id="page5" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="forgotPassword-form13" class="list">
      <h2 id="forgotPassword-heading1" style="color:#FFFFFF;text-align:center;">Esqueci minha senha</h2>
      <div id="forgotPassword-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Digite seu e-mail no campo abaixo, para que possamos enviar um código de verificação.</p>
      </div>
      <label class="item item-input" id="forgotPassword-input21" name="mail">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="E-mail">
      </label>
    </form>
    <a ui-sref="forgotPasswordCode" id="forgotPassword-button8" class="button button-dark  button-block">Enviar</a>
  </ion-content>
</ion-view>