<ion-view title="Forgot password code" hide-nav-bar="true" id="page9" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="forgotPasswordCode-form14" class="list">
      <h2 id="forgotPasswordCode-heading2" style="color:#FFFFFF;text-align:center;">Esqueci minha senha</h2>
      <div id="forgotPasswordCode-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Digite no cambo abaixo o código enviado para o seu e-mail</p>
      </div>
      <label class="item item-input" id="forgotPasswordCode-input10" name="code">
        <span class="input-label">Código</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="newPassword" id="forgotPasswordCode-button23" class="button button-dark  button-block">Enviar</a>
    <div id="forgotPasswordCode-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Caso não tenha recebido nenhum e-mail clique no botão abaixo para que possamos enviar o código novamente.</p>
    </div>
    <ion-list id="forgotPasswordCode-list4">
      <ion-item class="item-icon-left dark" id="forgotPasswordCode-list-item19">
        <i class="icon ion-android-refresh"></i>Enviar código novamente</ion-item>
    </ion-list>
  </ion-content>
</ion-view>