<ion-view title="Group" hide-nav-bar="true" id="page15" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-alert-circled"> teste</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="group-container6">
      <a ui-sref="menu" id="group-button16" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
      <a ui-sref="notifications" id="group-button17" style="color:#FFFFFF;" class="button button-dark  button-clear icon-right ion-android-notifications right"></a>
      <a ui-sref="home" id="group-button19" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura</a>
    </div>
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <form id="group-form9" class="list">
      <div id="group-container8" class="msgFriend">
        <div id="group-markdown15" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown18" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown22" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
      </div>
      <div id="group-container9" class="yourMsg">
        <div id="group-markdown20" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown21" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown23" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown24" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown25" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
      </div>
      <div id="group-container13" class="msgFriend">
        <div id="group-markdown26" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown27" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown28" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
      </div>
      <div id="group-container14" class="yourMsg">
        <div id="group-markdown29" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown30" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
        <div id="group-markdown33" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">mensagem teste</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>