<ion-view title="Groups" hide-nav-bar="true" id="page14" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-alert-circled"> teste</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="groups-container5">
      <a ui-sref="menu" id="groups-button9" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
      <a ui-sref="notifications" id="groups-button13" style="color:#FFFFFF;" class="button button-dark  button-clear icon-right ion-android-notifications right"></a>
      <a ui-sref="home" id="groups-button15" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura</a>
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <ion-list id="groups-list7">
      <ion-item class="item-icon-left" id="groups-list-item37" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
      <ion-item class="item-icon-left" id="groups-list-item38" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
      <ion-item class="item-icon-left" id="groups-list-item39" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
      <ion-item class="item-icon-left" id="groups-list-item40" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
      <ion-item class="item-icon-left" id="groups-list-item41" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
      <ion-item class="item-icon-left" id="groups-list-item42" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
      <ion-item class="item-icon-left" id="groups-list-item43" ui-sref="group">
        <i class="icon No Icon"></i>Nome do grupo</ion-item>
    </ion-list>
  </ion-content>
</ion-view>