<ion-view title="Home" hide-nav-bar="true" id="page6" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"> Home</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="home-container11">
      <a ui-sref="menu" id="home-button21" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
      <a ui-sref="notifications" id="home-button25" style="color:#FFFFFF;" class="button button-dark  button-clear icon-right ion-android-notifications right"></a>
      <button id="home-button24" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura 12312312123123132</button>
    </div>
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <ion-list id="home-list15">
      <ion-item class="item-icon-left dark" id="home-list-item82" href-inappbrowser="http://youtube.com">
        <i class="icon ion-music-note"></i>Musica da semana</ion-item>
      <ion-item class="item-icon-left dark" id="home-list-item83">
        <i class="icon ion-ios-book"></i>Versiculo da semana</ion-item>
    </ion-list>
    <a ui-sref="createPost" id="home-button46" class="button button-dark  button-block">Criar post</a>
    <div class="list card" id="home-card24">
      <ion-item class="item-avatar" id="home-list-item15" ui-sref="perfil">
        <img src="img/maxresdefault.jpg">
        <h2>Nome do fulano</h2>
        <p>GP padre</p>
      </ion-item>
      <div class="item item-body" id="home-list-item-container5">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="home-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Descrição da publicação</p>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card25">
      <ion-item class="item-avatar" id="home-list-item17" ui-sref="perfil">
        <img src="img/franquia-perfil-do-franqueado.jpg">
        <h2>Nome da fulana</h2>
        <p>GP Gaby</p>
      </ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="home-slider4" style="width:100%;height:200px;">
        <ion-slide-page id="home-slide216" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="home-slide217" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="home-slide218" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="home-list-item-container6">
        <div id="home-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="home-list-item18">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>