<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" cache-view="false" id="page1" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div>
      <img src="img/Image681.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="login-container4">
      <form id="login-form8" class="list">
        <label class="item item-input" id="login-input3" name="email">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <label class="item item-input" id="login-input4" name="senha">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
        <a ui-sref="home" id="login-button1" class="button button-dark  button-block">Logar</a>
        <a ui-sref="register" id="login-button2" class="button button-positive  button-block">Cadastre-se</a>
        <a ui-sref="forgotPassword" id="login-button7" style="font-style:italic;border-radius:0px 0px 0px 0px;" class="button button-dark  button-block button-icon">Esqueci minha senha</a>
      </form>
    </div>
  </ion-content>
</ion-view>