<ion-view title="Menu" hide-nav-bar="true" id="page8" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="menu-button-bar1" class="button-bar">
      <button id="menu-button18" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-small button-clear"></button>
      <button id="menu-button22" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-small button-clear"></button>
      <a ui-sref="home" id="menu-button14" class="button button-light  button-clear icon-right ion-android-apps">Menu</a>
    </div>
    <ion-list id="menu-list6">
      <label class="item item-input" id="menu-search3" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar">
      </label>
      <ion-item class="item-avatar item-icon-right dark" id="menu-list-item21" ui-sref="perfilEdit">
        <img src="img/imagesqtbnANd9GcRKXUnxCcvlt9osHm-JnY2ckyOgRmdTK45e7BtWMci9zxNQqs6k">
        <h2dark>Fulano de tal
          <p>Discipulador | GP Padre</p>
          <i class="icon ion-edit"></i>
          <ion-option-button class="button-assertive">teste</ion-option-button>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item29" ui-sref="home">
        <i class="icon ion-happy"></i>Home</ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item30" ui-sref="events">
        <i class="icon ion-ios-calendar"></i>Eventos</ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item31" ui-sref="groups">
        <i class="icon ion-ios-people"></i>Grupos</ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item13">
        <i class="icon ion-android-chat"></i>Conversas</ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item11" ui-sref="routes">
        <i class="icon ion-lightbulb"></i>Roteiro</ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item64">
        <i class="icon ion-ios-book"></i>Bíblia</ion-item>
      <ion-item class="item-icon-left dark" id="menu-list-item32" ui-sref="login">
        <i class="icon ion-android-cancel"></i>Sair</ion-item>
    </ion-list>
  </ion-content>
</ion-view>