<ion-view title="New password" hide-nav-bar="true" id="page10" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="newPassword-form15" class="list">
      <h2 id="newPassword-heading3" style="color:#FFFFFF;text-align:center;">Esqueci minha senha</h2>
      <div id="newPassword-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Informe sua nova senha</p>
      </div>
      <label class="item item-input" id="newPassword-input11" name="password">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="newPassword-input12" name="rePassword">
        <span class="input-label">Confirmar senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="login" id="newPassword-button26" class="button button-dark  button-block">Enviar</a>
  </ion-content>
</ion-view>