<ion-view title="Perfil Edit" hide-nav-bar="true" id="page12" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="perfilEdit-button-bar2" class="button-bar">
      <button id="perfilEdit-button10" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-small button-clear"></button>
      <button id="perfilEdit-button11" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-small button-clear"></button>
      <a ui-sref="home" id="perfilEdit-button12" class="button button-light  button-clear icon-right ion-android-apps">Menu</a>
    </div>
    <div>
      <img src="img/imagesqtbnANd9GcRKXUnxCcvlt9osHm-JnY2ckyOgRmdTK45e7BtWMci9zxNQqs6k" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="perfilEdit-form17" class="list">
      <label class="item item-input" id="perfilEdit-input13" name="name">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfilEdit-input17" name="lastName">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfilEdit-input18" name="birthDate">
        <span class="input-label">Nascimento</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="perfilEdit-input19" name="phone">
        <span class="input-label">Telefone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-select" id="perfilEdit-select2" name="implantation">
        <span class="input-label">Implentação</span>
        <select>
          <option>Joinville</option>
          <option>Jaraguá do Sul</option>
          <option>Blumenau</option>
          <option>Itajai</option>
        </select>
      </label>
      <label class="item item-input" id="perfilEdit-input20" name="facebook">
        <span class="input-label">Facebook</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfilEdit-input22" name="twitter">
        <span class="input-label">Twitter</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfilEdit-input23" name="twitter">
        <span class="input-label">Instagram</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfilEdit-input24" name="scapchat">
        <span class="input-label">Snapchat</span>
        <input type="text" placeholder="">
      </label>
      <div id="perfilEdit-button-bar4" class="button-bar">
        <a ui-sref="menu" id="perfilEdit-button28" class="button button-dark  button-block">Cancelar</a>
        <a ui-sref="menu" id="perfilEdit-button30" class="button button-dark  button-block">Salvar</a>
      </div>
    </form>
  </ion-content>
</ion-view>