<ion-view title="Perfil" hide-nav-bar="true" id="page16" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <a ui-sref="notifications" id="perfil-button63" style="color:#FFFFFF;" class="button button-dark  button-clear icon-right ion-android-notifications right"></a>
    <div id="perfil-container18">
      <a ui-sref="menu" id="perfil-button61" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
    </div>
    <a ui-sref="home" id="perfil-button62" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura</a>
    <div id="perfil-button-bar9" class="button-bar"></div>
    <div>
      <img src="img/imagesqtbnANd9GcRKXUnxCcvlt9osHm-JnY2ckyOgRmdTK45e7BtWMci9zxNQqs6k" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="perfil-heading5" style="color:#FFFFFF;text-align:center;">Nome do Fulano</h1>
    <ion-list id="perfil-list10">
      <ion-item class="item-icon-left dark" id="perfil-list-item57">
        <i class="icon ion-ios-flame"></i>Apascentador</ion-item>
      <ion-item class="item-icon-left dark" id="perfil-list-item63">
        <i class="icon ion-ionic"></i>GP Padre</ion-item>
      <ion-item class="item-icon-left dark" id="perfil-list-item62" href="tel:554740028922">
        <i class="icon ion-ios-telephone"></i>(47) 4002-8922</ion-item>
      <ion-item class="item-icon-left dark" id="perfil-list-item58">
        <i class="icon ion-social-facebook"></i>link face</ion-item>
      <ion-item class="item-icon-left dark" id="perfil-list-item59">
        <i class="icon ion-social-twitter"></i>link twitter</ion-item>
      <ion-item class="item-icon-left dark" id="perfil-list-item60">
        <i class="icon ion-social-instagram"></i>link instagram</ion-item>
      <ion-item class="item-icon-left dark" id="perfil-list-item61">
        <i class="icon ion-social-snapchat"></i>link snapchat</ion-item>
    </ion-list>
  </ion-content>
</ion-view>