<ion-view title="Routes" hide-nav-bar="true" id="page17" style="background-color:#000000;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-alert-circled"> teste</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="routes-container16">
      <a ui-sref="menu" id="routes-button40" style="color:#FFFFFF;" class="button button-dark  button-clear icon-left ion-android-apps left"></a>
      <a ui-sref="notifications" id="routes-button41" style="color:#FFFFFF;" class="button button-dark  button-clear icon-right ion-android-notifications right"></a>
      <a ui-sref="home" id="routes-button42" style="color:#FFFFFF;" class="button button-dark  button-clear left">Onda Dura</a>
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <form id="routes-form20" class="list">
      <label class="item item-select" id="routes-select4" name="week">
        <span class="input-label">Semana</span>
        <select>
          <option>15/01/2017 - Tema X</option>
          <option>08/01/2017 - Tema Y</option>
          <option>01/01/2017 - Tema Z</option>
        </select>
      </label>
    </form>
    <h1 id="routes-heading6" style="color:#FFFFFF;text-align:center;">Nome do tema</h1>
    <ion-list id="routes-list13">
      <ion-item class="item-icon-left dark" id="routes-list-item78">
        <i class="icon ion-music-note"></i>Nome musica</ion-item>
      <ion-item class="item-icon-left dark" id="routes-list-item79">
        <i class="icon ion-music-note"></i>Nome musica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div id="routes-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro
        Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro </p>
    </div>
    <div id="routes-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro
        Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro </p>
    </div>
    <div id="routes-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro
        Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro </p>
    </div>
    <div id="routes-markdown40" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro
        Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro Roteiro </p>
    </div>
  </ion-content>
</ion-view>